body {
    background-color: #282828;
}
.header {
    text-align: center;
    color: #9e3131;
}
#search {
   text-align: center;
}
div.musician {
    background-color: #617991;
    color: #ddd;
    padding: 1em;
    margin-left: 10em;
    margin-right: 14em;
    margin-bottom: 1em;
    text-align: center;
    background-position: center;
}
#like {
    background: white;
}
#like.second {
    background: #ad3939;
}
